# Supabase
SUPABASE_PROJECT_ID=""
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""

# Efí Pay (Produção)
EFI_CLIENT_ID=""
EFI_CLIENT_SECRET=""
EFI_KEY=""
EFI_SANDBOX="false"
EFI_CERTIFICATE_TYPE="p12"
EFI_CERTIFICATE_CONTENT=""
EFI_CERTIFICATE_PASSWORD=""

# SMTP
MAILER_SENDER_EMAIL=""
SMTP_DOMAIN=""
SMTP_ADDRESS=""
SMTP_PORT=587
SMTP_SSL=false
SMTP_USERNAME=""
SMTP_PASSWORD=""
SMTP_AUTHENTICATION="login"
SMTP_ENABLE_STARTTLS_AUTO=true
SMTP_OPENSSL_VERIFY_MODE="peer"
MAILER_INBOUND_EMAIL_DOMAIN=""
